@import "normalize.css";
@import "fonts.css";

/* Uncomment these when you add files to variables, mixins or components */

@import "variables/**.pcss";
@import "mixins/**.pcss";
@import "components/**.pcss";
/* For example, add `static/css/components/btn.pcss` and uncomment the next line */

/* GLOBAL */
html, body{
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Comfortaa', 'Helvetica', 'sans-serif';
  color: var(--grey8);
}

a, a:visited, a.visited {
  color: var(--primary);
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  color: var(--primary);
}

#content-container {
  padding-top: 68px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

/* BUTTONS */
.m-button {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
}
.m-button:hover {
  background: color(var(--grey1) a(20%));
}

/* Flash Messages */
.flash {
  padding: 10px 20px;
  color: white;
}

.flash-success{
  background: var(--success);
}
.flash-info{
  background: var(--info);
}
.flash-alert{
  background: var(--alert);
}
.flash-error{
  background: var(--error);
}
