:root {
  --blur {
    -webkit-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
  }

  --skew {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;
  }

  --box-shadow {
    -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  }
}

